* {
    margin: 0;
    padding: 0;
}

ul {

    list-style: circle inside url(./images/icon.png);
    background-color: orange;
}

ul li {
    border: 1px solid black;
    padding: 20px;
}

ol {
    list-style: circle inside url(./images/icon.png);
    background-color: paleturquoise;
}

ol li {
    border: 1px solid black;
    padding: 20px;
}